/* Italiana */
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

/* Inter */
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Italiana&display=swap');

* {
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
}

html, body {
    overflow-x: hidden;
}
body {
    margin: 0;
    background: #0b0f17;
    color: #e6e6e6;
    font-family: system-ui, sans-serif;
}

.stars{
    position: fixed;
    inset: 0;
    z-index: -1;
    background-repeat: repeat;
    background-size: 200px 200px;
    opacity: 0.6;
    animation: twinkle 6s ease-in-out infinite;
}

.stars-back {
    background:
        radial-gradient(1.5px 1.5px at 20% 30%, #fff, transparent),
        radial-gradient(1.5px 1.5px at 80% 40%, #fff, transparent),
        radial-gradient(1px 1px at 50% 80%, #fff, transparent),
        radial-gradient(1.5px 1.5px at 10% 60%, #fff, transparent),
        radial-gradient(1px 1px at 90% 10%, #fff, transparent);
    background-size: 300px 300px;
    opacity: 0.25;
    animation: drift 10s linear infinite;
}
.stars-front {
    background:
        radial-gradient(1.5px 1.5px at 20% 30%, #fff, transparent),
        radial-gradient(1.5px 1.5px at 80% 40%, #fff, transparent),
        radial-gradient(1.5px 1.5px at 50% 80%, #fff, transparent),
        radial-gradient(1.5px 1.5px at 10% 60%, #fff, transparent),
        radial-gradient(1.5px 1.5px at 90% 10%, #fff, transparent);
    background-size: 200px 200px;
    opacity: 0.6;
    animation: twinkle 6s ease-in-out infinite;
}

@keyframes twinkle {
    0% { opacity: 0.4; }
    50% { opacity: 0.8; }
    100% { opacity: 0.4; }
}

@keyframes drift {
    from { background-position: 0 0; }
    to { background-position: 300px 300px; }
}


.content {
    /* position: relative; */
    max-width: 1100px;
    margin: 0 auto;
    padding: 4rem 2rem;
}

.intro-container {
    min-height: 100vh; 
    padding: 4rem; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro-container h1 {
    padding: 10px;
    font-family: 'Italiana';
    letter-spacing: 2px;
}

.intro-container h1:first-child {
    font-size: clamp(28px, 4vw, 44px);
    opacity: 0.75;
}

.intro-container h1:last-of-type {
    font-size: clamp(42px, 6vw, 64px);
}

.intro-container span{
    padding-top: 10px;
    padding-left: 10px;
    font-family: 'Inter';
    letter-spacing: 2px;
    opacity: 0.5;
    font-size: 14px;
}

.scroll-cue {
    /* position: relative; */
    align-content: flex-end;
    flex-wrap: wrap;
    padding-top: 2rem;
    bottom: -2.5rem;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.45);
    font-family: system-ui, sans-serif;
}

.mouse {
    width: 18px;
    height: 30px;
    border: 1px solid rgba(255,255,255,0.4);
    border-radius: 12px;
    position: relative;
}

.wheel {
    width: 2px;
    height: 6px;
    background: rgba(255,255,255,0.6);
    border-radius: 2px;
    position: absolute;
    top: 6px;
    left: 50%;
    transform: translateX(-50%);
    animation: scrollWheel 1.8s ease-in-out infinite;
}

@keyframes scrollWheel {
    0% {
        opacity: 0;
        transform: translate(-50%, 0);
    }
    30% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate(-50%, 10px);
    }
}

.project-container{
    /* outline: 1px solid crimson; */
    padding: 4rem 0;
}

.section-title {
    font-family: "Italiana";
    font-size: 2rem;
    margin-bottom: 3rem;
    letter-spacing: 1px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 2.5rem;
}

.project-card {
    padding: 1rem;
    border: 1px solid rgba(255,255,255,0.08);
    border-radius: 12px;
    background: rgba(255,255,255,0.02);
    transition: transform 0.3s ease, border 0.3s ease;
    backdrop-filter: blur(1px);
    cursor: pointer;
}

.project-card:hover{
    transform: translateY(-5px);
    box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.144);
    border-color: rgba(255, 255, 255, 0.15);
}

.project-card h3{
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-family: 'Italiana';
    letter-spacing: 2px;
}

.project-desc {
    font-family: 'Inter';
    font-size: 0.95rem;
    line-height: 1.6;
    margin-bottom: 1rem;
    opacity: 0.85;
    max-width:40ch;
}

.tech {
    font-family: 'Inter';
    font-size: 0.8rem;
    opacity: 0.6;
    margin-bottom: 1.2rem;
}

.project-links a{
    margin-right: 12px;
    font-size: 0.85rem;
    font-family: 'Inter';
    text-decoration: none;
    color: rgb(255, 255, 255);
    opacity: 0.8;
}

.project-links a:hover {
    opacity: 0.6;
}

.contact-container{
    border-top: 1px solid rgba(255, 255, 255, 0.103);
    margin-top: 6rem;
    padding-top: 2rem;
    text-align: center;
}

.contact-container a{
    margin-right: 20px;
    font-size: 1rem;
    font-family: 'Inter';
    text-decoration: none;
    color: rgb(255, 255, 255);
    opacity: 0.9;
    cursor: pointer;
}

.contact-container a:hover{
    color: rgb(255, 255, 255);
    opacity: 0.5;
}